<div class="contacts-page">
    <h1 class="headline">CONTACTS</h1>

    <div class="top-bar">
        <input type="text" class="search-bar" ng-model="cc.filterObject.searchString" ng-keyup="cc.search();" />
        <i class="fa fa-times" aria-hidden="true" ng-click="cc.clearSearch();"></i>
        <i class="fa fa-plus-circle" aria-hidden="true" ng-click="cc.showNewContact=!cc.showNewContact; newContactForm.$setPristine();"></i>

        <div class="pagination">
            <div class="pagination-element">
                <label for="per-page">Per Page:</label>
                <select id="per-page" class="pagination-search" ng-model="cc.filterObject.pageSize" ng-options="size for size in cc.pageSizeOptions" ng-change="cc.getContacts();"></select>
            </div>
            <div class="pagination-element">
                <label for="page-num">Page #:</label>
                <select id="page-num" class="pagination-search" ng-model="cc.filterObject.pageNumber" ng-options="number for number in cc.pageNumberOptions" ng-change="cc.getContacts();"></select>
            </div>
        </div>
    </div>
    <div class="new-contact" ng-show="cc.showNewContact">
        <form name="newContactForm">
            <div class="new-contact-row">
                <label for="new-first-name">First Name:</label>
                <input id="new-first-name" name="firstName" class="new-contact-input" type="text" ng-model="cc.newContact.firstName" required>
                <label for="new-first-name" class="error" ng-show="newContactForm.firstName.$dirty && newContactForm.firstName.$error.required">* required</label>
            </div>
            <div class="new-contact-row">
                <label for="new-last-name">Last Name:</label>
                <input id="new-last-name" class="new-contact-input" type="text" ng-model="cc.newContact.lastName">
            </div>
            <div class="new-contact-row">
                <label for="new-email">Email:</label>
                <input id="new-email" name="email" class="new-contact-input" type="email" ng-model="cc.newContact.email">
                <label for="new-first-name" class="error" ng-show="newContactForm.email.$dirty && newContactForm.email.$error.email">* invalid email</label>
            </div>
            <div class="new-contact-row">
                <label for="new-phone-number">Phone Number:</label>
                <input id="new-phone-number" class="new-contact-input" type="text" ng-model="cc.newContact.phone">
            </div>
            <div class="new-contact-row">
                <label for="new-address">Address:</label>
                <input id="new-address" class="new-contact-input" type="text" ng-model="cc.newContact.address">
            </div>

            <div class="new-contact-row">
                <input type="button" class="save button" value="Save" ng-click="cc.addContact();" ng-disabled="newContactForm.$invalid" ng-class="{invalid:newContactForm.$invalid}" />
                <input type="button" class="cancel button" value="Cancel" ng-click="cc.cancelAddNewContact(); newContactForm.$setPristine();" />
            </div>
        </form>
    </div>
    <div class="contacts">
        <div class="contacts-header row">
            <div class="c1 cell" ng-click="cc.sort('firstName');">
                <span>First Name</span>
                <i class="fa fa-sort-asc" aria-hidden="true" ng-show="cc.filterObject.sortColumn=='firstName'&&cc.filterObject.sortAscending"></i>
                <i class="fa fa-sort-desc" aria-hidden="true" ng-show="cc.filterObject.sortColumn=='firstName'&&!cc.filterObject.sortAscending"></i>
            </div>
            <div class="c2 cell" ng-click="cc.sort('lastName');">
                <span>Last Name</span>
                <i class="fa fa-sort-asc" aria-hidden="true" ng-show="cc.filterObject.sortColumn=='lastName'&&cc.filterObject.sortAscending"></i>
                <i class="fa fa-sort-desc" aria-hidden="true" ng-show="cc.filterObject.sortColumn=='lastName'&&!cc.filterObject.sortAscending"></i>
            </div>
            <div class="c3 cell" ng-click="cc.sort('email');">
                <span>Email</span>
                <i class="fa fa-sort-asc" aria-hidden="true" ng-show="cc.filterObject.sortColumn=='email'&&cc.filterObject.sortAscending"></i>
                <i class="fa fa-sort-desc" aria-hidden="true" ng-show="cc.filterObject.sortColumn=='email'&&!cc.filterObject.sortAscending"></i>
            </div>
            <div class="c4 cell" ng-click="cc.sort('phone');">
                <span>Phone Number</span>
                <i class="fa fa-sort-asc" aria-hidden="true" ng-show="cc.filterObject.sortColumn=='phone'&&cc.filterObject.sortAscending"></i>
                <i class="fa fa-sort-desc" aria-hidden="true" ng-show="cc.filterObject.sortColumn=='phone'&&!cc.filterObject.sortAscending"></i>
            </div>
            <div class="c5 cell" ng-click="cc.sort('address');">
                <span>Address</span>
                <i class="fa fa-sort-asc" aria-hidden="true" ng-show="cc.filterObject.sortColumn=='address'&&cc.filterObject.sortAscending"></i>
                <i class="fa fa-sort-desc" aria-hidden="true" ng-show="cc.filterObject.sortColumn=='address'&&!cc.filterObject.sortAscending"></i>
            </div>
            <div class="c6 cell"></div>
            <div class="clearer"></div>
        </div>
        <div class="contacts-rows row" ng-repeat="contact in cc.contactsViewModel.contacts" ng-class-even="'even'" ng-class-odd="'odd'">
            <div class="c1 cell ellipsis">{{contact.firstName}}</div>
            <div class="c2 cell ellipsis">{{contact.lastName}}</div>
            <div class="c3 cell ellipsis">{{contact.email}}</div>
            <div class="c4 cell ellipsis">{{contact.phone}}</div>
            <div class="c5 cell ellipsis">{{contact.address}}</div>
            <div class="c6 cell ellipsis"><i class="fa fa-trash-o" aria-hidden="true" ng-click="cc.deleteContact(contact);"></i></div>
        </div>
    </div>

</div>