.contacts-page {
    width: 1150px;
    padding: 20px 45px;
    font-family: Lato,HelveticaNeueBold,HelveticaNeue-Bold,"Helvetica Neue Bold",HelveticaBold,Helvetica-Bold,"Helvetica Bold",HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1 {
    margin: 0 0 20px 0;
    font-size: 50px;
    color: #555555;
}

label {
    color: #555555;
}

.top-bar {
    position: relative;
}

.search-bar {
    width: 305px;
    height: 30px;
    line-height: 28px;
    font-size: 16px;
    vertical-align: top;
    margin-bottom: 10px;
}

.fa-times {
    position: absolute;
    left: 280px;
    top: 7px;
    cursor: pointer;
    color: #555555;
}

.fa-plus-circle {
    margin: 0 0 0 10px;
    font-size: 28px !important;
    color: #008CBA;
}

.new-contact {
    border-top: 1px solid #555555;
    border-bottom: 1px solid #555555;
    padding: 10px 0;
}

.new-contact-input {
    width: 175px;
}

.new-contact-row {
    margin: 10px 0;
}

.button {
    width: 150px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 25px;
}

.new-contact-row label {
    width:125px;
    display: inline-block;
    vertical-align: middle;
}

.save {
    background-color: #4CAF50;
}

.save.invalid {
    background-color: #E8E8E8;
}

.cancel {
    background-color: #555555;
}

.fa-trash-o {
    cursor: pointer;
}

.contacts {
    margin: 20px 0;
}

.clearer {
    clear: both;
    width: 10px;
}

.contacts-header {
    font-size: 16px;
    background-color: #555555;
    color: #D3D3D3;
}

.contacts-header .c1, .contacts-header .c2, .contacts-header .c3, .contacts-header .c4 {
    cursor: pointer;
} 

.contacts-rows {
    color: #808080;
}

.row {
    height: 35px;
}

.even {
    background-color: #E8E8E8;
}

.odd {
    background-color: #FFFFFF
}

.cell {
    display: table-cell;
    min-height: 10px;
    line-height: 35px;
    padding-left: 12px;
}

.c1 {
    width: 150px;
    max-width: 150px;
}

.c2 {
    width: 150px;
    max-width: 150px;
}

.c3 {
    width: 250px;
    max-width: 250px;
}

.c4 {
    width: 200px;
    max-width: 200px;
}

.c5 {
    width: 300px;
    max-width: 300px;
}

.c6 {
    width: 25px;
}

.pagination {
    float: right;
}

.pagination-element {
    float: right;
}

.pagination-search {
    width: 45px;
    height: 30px;
    text-align: center;
    margin: 0 5px;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.error {
    font-size: 12px;
    color: red;
}